#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  height: 1em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin: 34px 0;
}

.divDozens {
  margin: 30px 0 4px;
}

.dozens {
  padding: 10px;
  border-radius: 22px;
  border-color: goldenrod;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  width: 50px;
  text-align: center;
}

.info {
  color: #888;
}

.buttonGenerate {
  margin-top: 32px;
  display: flex;
  justify-self: center;
  align-self: center;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.read-the-docs {
  color: #888;
  margin-top: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-the-docs p {
  margin: 0 8px;
}

.container-dozens {
  display: flex;
  gap: 10px;
}

/* media query mobil */
@media only screen and (max-width: 600px) {
  .App {
    justify-content: space-evenly;
  }

  .title {
    font-size: 1.8em;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card .dozens {
    font-size: 1.5em;
  }

  .card .buttonGenerate {
    margin-top: 48px;
  }

  .container-dozens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-row-gap: 20px;
  }
}
